# folders
.gradle/
.idea/
.metadata/
.settings/
.qbcache/
.recommenders/
.shelf/
bin/
build/
javadoc/
out/
.vs/

# files
.classpath
.project
*.iml
*.ipr
*.iws
*.orig
*.launch
*.log
*-ide-plugin.xml
.DS_Store
**/.DS_Store

#excludes
!**/src/*/resources/**
!**/src/*/java/**
